@charset "UTF-8";
/*
body {
  padding-top: 60px;
}
*/

.table{

margin: 20px;
padding: 10px;
border-width:2px;
border-style:solid;
}


#select{

float:right;

}



.peason{

margin: 5px;
padding: 10px;

}
.btn-group{
  float:right;
}
